<div class="container outer__container teal-shadow">
  <div class="row">
    <div class="col-md footer__box">
      <h6>Contact Info</h6>
      <div class="box info">
        <address>
          Good Guys Glass<br />
          103 Riverpoint Dr<br />
          Destrehan, LA, 70047<br />
        </address>
        <a href="tel:+1-985-725-3073" class="telephone-anchor"
          >(985) 725 3073</a
        >
      </div>
    </div>
    <div class="col-md footer__box">
      <h6>Location</h6>
      <div class="box location"><footer-mapbox></footer-mapbox></div>
    </div>
    <div class="col-md footer__box">
      <h6>Social Media</h6>
      <div class="box social"><footer-facebook></footer-facebook></div>
    </div>
  </div>
</div>
