<div
  id="carouselInterval"
  class="carousel slide black-shadow"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000">
      <img
        src="assets/1.jpeg"
        class="d-block w-100"
        alt="Fully_Trained_Technicians_Image"
      />
      <div class="carousel-caption d-none d-md-block">
        <h6>Fully Trained Technicians</h6>
      </div>
    </div>
    <div class="carousel-item" data-interval="4000">
      <img
        src="assets/2.jpeg"
        class="d-block w-100"
        alt="OEM_Quality_Windshields_Image"
      />
      <div class="carousel-caption d-none d-md-block">
        <h6>OEM Quality Windshields</h6>
      </div>
    </div>
    <div class="carousel-item" data-interval="4000">
      <img
        src="assets/3.jpeg"
        class="d-block w-100"
        alt="Home_And_Commercial_Repair_Image"
      />
      <div class="carousel-caption d-none d-md-block">
        <h6>Home And Commercial Repair</h6>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselInterval"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselInterval"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
