<div class="row main-page-row">
  <h1>About Our Company</h1>
  <hr />
</div>
<div class="row">
  <p>
    Choose the glass experts at Good Guys Glass to replace your damaged
    windshield. We've replaced over 350,000 windshields and other auto glass
    parts since opening our doors in 2005.
  </p>
  <p>
    Our technicians are fully trained and equipped with the best and latest auto
    glass replacement technologies available. We only use OEM quality
    windshields. Our windshield replacements are backed by our lifetime
    warranty.
  </p>
  <p>
    Good Guys Glass works with all insurance companies. Getting a windshield
    replaced can be a hassle, but we will walk you through the claims process
    and make sure that everything goes smoothly.
  </p>
  <p>
    If you'd rather speak to a live person, please - call us at (985) 725-3073.
  </p>
</div>
<div class="row main-page-row"><h3>Mission Statement</h3></div>
<div class="row">
  <p>
    We will use our expertise and professionalism to provide exceptional service
    to all of our customers, recognizing that referrals and repeat customers are
    the best measure of our success.
  </p>
</div>
<div class="row main-page-row"><h3>History</h3></div>
<div class="row">
  <p>
    Good Guys Glass is a leader in the glass replacement. Since opening our
    doors in 2005, we’ve strived not to be the biggest, but to be the best glass
    company around. Good Guys Glass has grown steadily over the years, We
    continuously strive to achieve our lofty goals by providing unparalleled
    customer service while utilizing the latest technologies available to the
    glass industry. In order to provide the safest of glass installations, We
    use the most advanced sealants, films and equipment available. The safety of
    our clients, customers and their families is our number one priority. We
    back every glass replacement with a Lifetime Warranty – in writing. We at
    Good Guys Glass would be honored to service your automotive glass needs, and
    we look forward to providing you with the impeccable customer service that
    you deserve.
  </p>
</div>
