<div class="row main-page-row"><h1>Auto Glass</h1></div>
<div class="row">
  <div class="col-md">
    <figure>
      <img src="assets/2.jpeg" alt="Auto Glass Image" class="page__image" />
    </figure>
    <figure>
      <img src="assets/4.jpg" alt="Windshield Image" class="page__image" />
    </figure>
  </div>
  <div class="col-md">
    <ul class="list-group">
      <li class="list-group-item list-group-item-light">
        Windshield replacement
      </li>
      <li class="list-group-item list-group-item-light">Windshield repair</li>
      <li class="list-group-item list-group-item-light">
        <h6>Safety -</h6>
        <p>
          The condition of your vehicle’s windshield and windows directly
          affects driving safety. Our professionally trained installers will
          ensure that the correct products are used, and that installation
          procedures are followed meticulously.
        </p>
      </li>
      <li class="list-group-item list-group-item-light">
        <h6>Insurance -</h6>
        <p>We work with all insurance companies.</p>
        <p>No cost windshield repairs with most insurance companies.</p>
      </li>
    </ul>
  </div>
</div>
<div class="row main-page-row"><h1>Home and Commercial</h1></div>
<div class="row">
  <div class="col-md">
    <ul class="list-group">
      <li class="list-group-item list-group-item-light">
        Replace broken window panes
      </li>
      <li class="list-group-item list-group-item-light">
        Replace fogged up window panes
      </li>
      <li class="list-group-item list-group-item-light">
        Replace window screens
      </li>
      <li class="list-group-item list-group-item-light">
        24/7 Board up service
      </li>
      <li class="list-group-item list-group-item-light">Custom cut glass</li>
      <li class="list-group-item list-group-item-light">Safety glass</li>
      <li class="list-group-item list-group-item-light">Store front glass</li>
    </ul>
  </div>
  <div class="col-md">
    <figure>
      <img src="assets/3.jpeg" alt="Broken Window Image" class="page__image" />
    </figure>
    <figure>
      <img src="assets/5.jpg" alt="Boarded Window Image" class="page__image" />
    </figure>
  </div>
</div>
