<div class="row main-page-row">
  <h1>The Windshield Replacement Experts</h1>
  <hr />
  <ul class="list-group">
    <li class="list-group-item  list-group-item-secondary">
      We deal directly with all insurance companies to file your claim.
    </li>
    <li class="list-group-item  list-group-item-secondary">
      We use only experienced technicians.
    </li>
    <li class="list-group-item  list-group-item-secondary">
      We only use Original Equipment Manufactured (OEM) quality windshields.
    </li>
    <li class="list-group-item  list-group-item-secondary">
      Every windshield is backed by a lifetime warranty.
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-xl"><h3>Call Today to Schedule Your Appointment!</h3></div>
  <div class="col-xl"><h3>Just One Call...(985) 725-3073</h3></div>
</div>
