<div class="row main-page-row"><h1>Windshield Safety</h1></div>
<div class="container container-fluid">
  <div class="row">
    <h3>The Importance of a Properly Installed Windshield</h3>
    <p>
      The importance of a properly installed windshield cannot be over-stated.
      Over the years, the windshield has played an ever-increasing role in the
      safety of the modern automobile. Whether it's the interaction with your
      passenger side air bag, the integrity of your roof should you be involved
      in a rollover accident, or simply keeping you safely inside your vehicle,
      you owe it to yourself and the ones you love to make sure that when you
      have your windshield replaced, it's done right.
    </p>
    <p>
      There are many components of a properly and safely installed windshield.
      It all starts with the removal of your damaged windshield. It sounds
      simple, but if it is not done properly, the effects can be disastrous. Our
      technicians are fully trained and have access to the best tools and
      equipment available to ensure that this first step is done correctly so
      that your new windshield will display the same fit, finish and above all,
      structural integrity that your vehicle had when it rolled out of the
      factory.
    </p>
    <p>
      Another important component is the urethane, or more succinctly, the glue,
      that bonds your new windshield to your vehicle. We use the most advanced
      urethane systems available, offering the fastest safe drive-away times in
      the industry. Your vehicle will be safe to drive in less than 30 minutes.
      This is typically an area where auto glass companies will try and save
      money. Not us. Most inexpensive urethanes on the market offer safe drive
      away times of 24 to 48 hours. Whether or not you use Good Guys, please ask
      about this and make sure you're getting the straight facts about how soon
      after your windshield is installed your vehicle is safe to drive.
    </p>
    <p>
      The other major component of a windshield installation is the windshield
      itself. At Good Guys, we only use OEM quality glass in our installations.
      We buy our glass primarily from Pilkington, the largest manufacturer of
      OEM glass in the world. If you would like to know more information visit
      pilkingtonclearadvantage.com Using OEM quality glass ensures that the new
      windshield that we install, is structurally identical to the original
      windshield installed when your vehicle was manufactured. Along with using
      sub par urethane, some glass shops will simply look for the cheapest glass
      available, regardless of whether or not it conforms to your vehicle
      manufacturer's rigid specifications and standards for aftermarket glass.
    </p>
  </div>
</div>
