<div class="row main-page-row"><h1>The 5 Things To Know</h1></div>
<div class="container container-fluid">
  <div class="row">
    <h3>What You Need To Know Before Getting Your Glass Replaced:</h3>
  </div>
  <div class="row">
    <ul class="list-group">
      <h6 class="number">1</h6>
      <li class="list-group-item  list-group-item-secondary">
        <p>Am I using a reputable installation facility?</p>
        <p>A reputable installer will:</p>
        <ul>
          <li>Allow you to choose which glass brand you want to use.</li>
          <li>
            Understand the importance of using an OEM (original equipment
            manufacturer) equivalent to protect you and the value of your car.
          </li>
          <li>
            Be able to explain the critical performance specifications of your
            vehicle glass (such as solar optimization) and what they mean to
            you.
          </li>
        </ul>
      </li>
      <h6 class="number">2</h6>
      <li class="list-group-item  list-group-item-secondary">
        <p>
          Am I getting replacement glass with equivalent performance
          specifications to my original equipment?
        </p>
        <p>
          Your car's windshield and sidelites came off the dealership lot with
          specific performance characteristics. Some aftermarket replacement
          glass parts do not match these original performance specifications.
          These inferior glass products can have:
        </p>
        <ul>
          <li>Reduced or no acoustic properties.</li>
          <li>
            Non-Solar optimized properties (think - increased heat buildup in
            your car & needing to use the air conditioner a lot more).
          </li>
          <li>Poor Optics.</li>
          <li>
            Poor surface control (think - wind noise & wiper blades missing
            spots).
          </li>
          <li>
            All glass is not created equally, demand that your glass be replaced
            with it's original performance specifications.
          </li>
        </ul>
      </li>
      <h6 class="number">3</h6>
      <li class="list-group-item  list-group-item-secondary">
        <p>
          Am I choosing replacement glass that meets or exceeds Federal Motor
          Vehicle Safety Standards?
        </p>
        <p>
          One of the main reasons for these standards is to ensure that your
          windshield can resist breakage and penetration in a collision.
          Choosing a glass that meets or exceeds these standards helps reduce
          injuries, fatalities, and the ejection of vehicle occupants during a
          crash. OEM equivalent glass from Pilkington exceeds FMVSS.
        </p>
      </li>
      <h6 class="number">4</h6>
      <li class="list-group-item  list-group-item-secondary">
        <p>Am I getting a value by choosing a less expensive glass?</p>
        <p>
          Of course, price matters. But installing inferior replacement glass
          can create a host of new problems that may cost you more in the long
          run. Quality windshield replacement glass should:
        </p>
        <ul>
          <li>
            Be accurately cut and finely polished during the edging process to
            ensure proper fit, minimize wind noise, and minimize cracks (lower
            quality aftermarket glass will often be manufactured to lower
            tolerances, resulting in ill-fitting installations, leading to a
            number of potential problems like leaks, stress cracks and increased
            vulnerability to damage).
          </li>
          <li>
            Have surface control so the wipers fit the glass appropriately.
          </li>
          <li>
            Offer the same performance specifications of your original equipment
            where important things like solar protection, noise cancellation and
            performance of added features like rain, light and/or condensation
            sensors are concerned.
          </li>
        </ul>
      </li>
      <h6 class="number">5</h6>
      <li class="list-group-item  list-group-item-secondary">
        <p>Will the glass be installed using high quality urethane adhesive?</p>
        <p>
          High quality adhesives are tested in extreme temperatures (hot and
          cold) to ensure proper bonding is in place. These adhesives dry
          faster, so your car can be ready within a “safe drive-away time.”
          Inferior adhesives may not set as quickly, endangering you and your
          passengers if there is an accident immediately after installation. Be
          sure that the safe drive away time for your installation is explained
          to you, as it varies depending both on the type & quality of glue as
          well as the number of airbags in your car. A good technician will be
          familiar with and forthright about the products he or she is using.
        </p>
      </li>
    </ul>
  </div>
</div>
