/* You can add global styles to this file, and also import other style files */
/**
Global color scheme:

Main Red - #F80818
Salmon/Pinkish - #DF9A8C
Black - #281713
Teal - #54B9C5
*/
body {
  height: 100%;
  width: 100%;
  margin: 10px auto !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #281713;
}

h1 {
  color: #f80818 !important;
}

h3 {
  color: #54b9c5 !important;
}

hr {
  border-color: #54b9c5 !important;
}

.black-shadow {
  box-shadow: 1px 1px 8px #281713;
}

.teal-shadow {
  box-shadow: 1px 1px 8px #54b9c5;
}

.telephone-anchor {
  color: #fff;
  text-decoration: none;
  cursor: default;
}

.telephone-anchor:hover {
  color: #fff;
  text-decoration: none;
  cursor: default;
}

.main-page-container {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.main-page-row {
  text-align: center;
  padding: 15px;
  padding-top: 55px;
}

@media (min-width: 40rem) {
  body {
    width: 95%;
  }

  .main-page-container {
    text-align: left;
  }

  .main-page-row {
    text-align: center;
    margin-top: 0;
    padding: 15px;
    padding-top: 55px;
  }
}
